body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 'Microsoft YaHei', tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.clearfix:after {
  content: "\00A0";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.clearfix{zoom:1} 
.main{
	border: 1px solid #ccc;
	width: 1000px;
	margin: 10px auto;
	position: relative;
	overflow: auto;
}
.content{
	position: relative;
	margin-bottom: 40px;
	left: 0;
}
.content .line{
	background: #ccc;
}
.content .line li{
	float: left;
	padding: 10px 0;
    text-align: center;
    font-size: 16px;
}
.content .year{
    margin-top: 10px;
}
.content .year li{
	float: left;
	text-align: center;
	position: relative;
}
.content .year li::before{
	content: '|';
	position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -1.5px;
}
.content .thing{
	position: relative;
	height: 220px;
}
.content .thing .item{
	border-left: 1px dashed #333;
    border-right: 1px dashed #333;
    position: absolute;
    height: 220px;
}

.content .thing .item span{
	position: absolute;
    bottom: 18px;
}
.content .thing .start{
	left: -38px;
}
.content .thing .end{
	right: -38px;
}
.content .thing .proce{
	position: absolute;
    text-align: center;
    width: 100%;
    background: #ccc;
    bottom: 14px;
    left: 0;
    font-size: 14px;
    padding: 4px 0px;
}
.content .thing .proce:hover .info{
	display: block;
}
.content .thing .info{
	position: absolute;
    width: 200px;
    right: -222px;
    top: 4px;
    border: 1px solid #333;
    background: #fff;
    z-index: 2;
    padding: 6px;
    text-align: left;
    display: none;
}
.content .thing .info::after{
	display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent #333 transparent transparent;
    content: '';
    position: absolute;
    top: 4px;
    left: -16px;
}
.content .thing .item_one{
	position: absolute;
    height: 220px;
    width: 1px;
    border-left: 1px dashed #333;
}
.content .thing .item_one .proce{
	margin-left: -63px;
	width: 126px;
}
.content .thing .item_one .start{
	left: 0;
    position: static;
    display: block;
}